---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const usuarios = await getCollection("usuarios");

---

<MainLayout>
    <h1>Aqui puedes ver los usuarios registrados y los roles</h1>
    <div class="usuarios-lista">
        {usuarios.map((usuario) => (
            <div class="usuario">
                <span>{usuario.data.nombre} - {usuario.data.rol}</span>
                <a href={`/editar-usuario/${usuario.slug}`} class="editar-btn">Editar</a>
            </div>
        ))}
    </div>
</MainLayout>