---
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout>
    <head>
        <link rel="stylesheet" href="/src/styles/global.css">
    </head>
    <h1>Bienvenido Administrador</h1>
    <p>Gestiona insumos, ajusta informacion de usuarios y manten el orden del inventario del laboratorio</p>
</MainLayout>

