---
import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout>
    <head>
        <link rel="stylesheet" href="/src/styles/global.css">
    </head>
    <h1>Vista de insumos</h1>
    
</MainLayout>